<p id="notice"><%= notice %></p>

<h2><%= @leauge.name %></h2>
<%= link_to 'Edit', edit_leauge_path(@leauge) %> |
<%= link_to 'Delete', leauge_path(@leauge), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', leauges_path %>

<div class="d-flex w-100">
  <div><%= render 'teams' %></div>
  <div class="w-50"><%= render 'projections' %></div>
</div>